<h5>List of my orders: {{commandesDunClient.nomComplet}}</h5>
<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Num° Commande</th>
            <th scope="col">Etat</th>
            <th class="text-center">Actions</th>
            <th scope="col">Mode de reception</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of commandes,let i= index">
            <th scope="row">{{i+1}}</th>
            <td>{{order.date |date:'HH:mm'}}</td>
            <td>{{order.numero}}</td>
            <td>{{order.isEtat}}</td>
            <td>{{modeRec(order.modeReception)}}</td>
            <td class="text-center">
                <!--<button class="btn btn-warning text-dark"> Livrer</button>-->
                <button [disabled]="order.isEtat!='en cours'" class="btn btn-  btn-danger text-dark"><a (click)="cancelCommand(order.id)">Annuler</a></button>
                <button class="btn btn-outline-primary btn-sm "><a [routerLink]="['/commandes',order.id]" >Details</a></button>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>