/* #logo {
    height: auto;
    position: absolute;
    background-color: #fff;
    margin-left: 50%;
    background-image: url(assets/images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
} */