<h3 class="card-title text-center mt-2" id="title">DETAILS :</h3>
<div class="col">
    <div class="card float-center" style="width: 18rem;">
        <div class="card-body ">
            <!--Property binding {{}}, event binding [a]={}-->
            <h5 class="card-title">{{product.nom}}</h5>
            <img class="card-img-top" [src]="transform(product.image)" alt="Card image cap">
            <i class="bi bi-cart"></i>
            <i class="fas fa-shopping-cart text-primary float-end fa-2x" *ngIf="true" title="Ajouter Au Panier" (click)="ajouterAuPanier(product)"></i>
            <a [routerLink]="['/']" class="btn btn-sm btn-primary float-right" title="Ajouter Au Panier">BUY</a>
            <h5 class="btn btn-sm disabled btn-outline-primary">{{product.prix}} F</h5>
        </div>
    </div>
    hhhhh
</div>
<hr>

<br>
<br>
<h3 class="card-title text-center mt-2" id="title">CHOOSE YOUR DRINKS</h3>
<div class="row">
    <div class="col-md-3" *ngFor="let taille of tailles">
        <div class="row">
            <div class="custom-control custom-checkbox image-checkbox" *ngFor="let boisson of boissons">
                <h5>{{boisson.nom}}</h5>
                <input type="checkbox" class="custom-control-input" id="ck1a">
                <label class="custom-control-label" for="ck1a">
                    <img [src]="transform(boisson.image)" alt="#" class="img-fluid">
              </label>
            </div>
        </div>
    </div>
</div>