<div class="details">
    <h3 class="card-title text-center mt-2" id="title">DETAILS :</h3>
    <div class="col">
        <div class="card float-center" style="width: 18rem;">
            <div class="card-body ">
                <!--Property binding {{}}, event binding [a]={}-->
                <h5 class="card-title">{{product.nom}}</h5>
                <img class="card-img-top" [src]="transform(product.image)" alt="Card image cap">
                <i class="fas fa-shopping-cart text-primary float-end fa-2x" *ngIf="etat" title="Ajouter Au Panier" (click)="ajouterAuPanier(product)"></i>
                <a [routerLink]="['/']" class="btn btn-sm btn-primary float-right" title="Ajouter Au Panier">BUY</a>
                <h5 class="btn btn-sm disabled btn-outline-primary">{{product.prix}} F</h5>
            </div>
        </div>
    </div>
    <h3 class="card-title text-center mt-2" id="title">PICK UP YOUR DRINKS</h3>
    <hr>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3 m-3" *ngFor="let boissonT of boissonsT">
            <div class="row">
                <span class="card text-center mt-2">{{boissonT.quantite}} {{boissonT.taille.libelle}} TO CHOOSE</span>
            </div>
            <div class="row">
                <div class="custom-control custom-checkbox image-checkbox m-3" *ngFor="let boisson of boissons">
                    <h5>{{boisson.nom}}</h5>
                    <img [src]="transform(boisson.image)" alt="#" class="img-fluid">
                    <!--<button type="button" class="btn btn-primary" (click)="increase(drink)">+</button>-->
                    <input type="number" min=0 value=0 id="{{boisson.id}}" (change)="a()">
                    <!--<button type="button" class="btn btn-light" (click)="decrease(drink)">-</button>-->
                </div>
            </div>
        </div>
    </div>
    <hr>
    <app-complements></app-complements>
    <hr>
    <h5 class="card-title text-center">Menus Similaires</h5>