<!--<app-td></app-td>-->
<!--<app-reactive-form></app-reactive-form>-->
<!--<app-catalogue></app-catalogue>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" i ntegrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<div class="container-fluid" id="main">
    <app-header></app-header>
    <app-accueil></app-accueil>
    <br>
    <br>
    <div class="container mt-3">
        <router-outlet></router-outlet>
        <!--<app-catalogue></app-catalogue>-->
    </div>
</div>