<!--<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Nom</th>
        <th>Prix</th>
    </tr>
    <tr *ngFor="let result of tab">
        <td>{{result.nom}}</td>
        <td class="text-danger">{{result.prix}}</td>
    </tr>
</table>-->
<!--<input type="text" [(ngModel)]="search">-->

<h5 class="card-title text-center mt-2" id="title">Always a good time for burgers</h5>
<div class="row m-3">
    <ng-container>
        <app-burger *ngFor="let burger of burgers" class="col-sm-3 mb-4 mt-3" [produitRecu]="burger"></app-burger>
    </ng-container>
    <br>
    <br>
    <hr>
    <h5 class="card-title text-center mt-2" id="title">Starving ? Taste our menus </h5>
    <br>
    <ng-container>
        <app-menu *ngFor="let menu of menus" class="col-sm-3 mb-4 mt-3" [produitRecu]="menu"></app-menu>
    </ng-container>
</div>