<div class="card" style="width: 18rem;">
    <div class="card-body">
        <!--Property binding {{}}, event binding [a]={}-->
        <h5 class="card-title">{{produit.nom}}</h5>
        <img class="card-img-top" [src]="produit.image" alt="Card image cap">
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <i class="bi bi-cart"></i>
        <a [routerLink]="['/catalogue',produit.id]" class="btn btn-sm btn-primary float-right">BUY</a>
        <h5 class="btn btn-sm disabled btn-outline-primary m-lg-2">{{produit.prix}} F</h5>
    </div>
</div>