<h3 class="card-title text-center mt-2" id="title">DETAILS :</h3>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <!--Property binding {{}}, event binding [a]={}-->
        <h5 class="card-title">{{product.nom}}</h5>
        <img class="card-img-top" [src]="transform(product.image)" alt="Card image cap">
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <i class="fas fa-shopping-cart text-primary float-end  mt-2 hover" (click)="ajouterAuPanier(product)" title="Ajouter Au Panier"></i>
        <a [routerLink]="['/']" class="btn btn-sm btn-primary float-right">BUY</a>
        <h5 class="btn btn-sm disabled btn-outline-primary">{{product.prix}} F</h5>
    </div>
</div>
<hr>
<app-complements></app-complements>
<hr>
<h5 class="card-title text-center">Burgers Similaires</h5>
<div class="container-fluid">
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

        <div class="col-5" *ngFor="let burger of burgers">
            <div class="card card-block card-1 d-flex">
                <h5 class="card-title" id="title">{{burger.nom}}</h5>
                <a class="cat" [routerLink]="['/burger',burger.id]">
                    <img class="img-fluid" [src]="transform(burger.image)" alt="Card image cap">
                </a>
                <button class="btn btn-sm  btn-outline-primary m-lg-2 " [routerLink]="['/burger',burger.id]">{{burger.prix}} F</button>
            </div>
        </div>
    </div>
</div>