<h3 class="card-title text-center mt-2" id="title">DETAILS :</h3>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <!--Property binding {{}}, event binding [a]={}-->
        <h5 class="card-title">{{product.nom}}</h5>
        <img class="card-img-top" [src]="transform(product.image)" alt="Card image cap">
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <i class="fas fa-shopping-cart text-primary float-end  mt-2 hover" (click)="ajouterAuPanier(product)" title="Ajouter Au Panier"></i>
        <a [routerLink]="['/']" class="btn btn-sm btn-primary float-right">BUY</a>
        <h5 class="btn btn-sm disabled btn-outline-primary">{{product.prix}} F</h5>
    </div>
</div>
<hr>
<app-complements></app-complements>
<hr>
<h5 class="card-title text-center">Burgers Similaires</h5>