/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
* {
    box-sizing: border-box;
}

.accueil {
    height: 400px;
    background-image: url(assets/images/burger-spread-four-hands.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* .accueil::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} */

#main {
    background-color: #f5ebdc;
}

#navbarColor,
#title,
#titre {
    color: #502314;
}

#titre {
    font-size: 2rem;
}

#signup {
    color: #d62300;
}

#navbarColor:hover,
#signup:hover {
    background-color: #d62300;
    color: white;
}

#navbarUn {
    height: auto;
    color: #502314;
    background-image: url(assets/images/logo.png);
    background-size: cover;
}

#search {
    margin-left: 95%;
}

#navbar {
    padding: 1rem;
}


/* .cat {
    width: 100%;
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
} */