/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
* {
    box-sizing: border-box;
}

.accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(assets/images/burger-spread-four-hands.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* .accueil::after { */


/* margin-top: 75px;
    height: 500px;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} */

#main {
    background-color: #f5ebdc;
}

#navbarColor,
#title {
    color: #502314;
}

#titre {
    font-size: 4rem;
    color: white;
    font-family: "Helvetica Neue";
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes glow {
    from {
        opacity: 0;
        text-shadow: 0 0 10px #502314, 0 0 20px #502314, 0 0 30px #502314, 0 0 40px #502314, 0 0 50px #502314, 0 0 60px #502314, 0 0 70px #502314;
    }
    to {
        opacity: 1;
        text-shadow: 0 0 20px #502314, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px #f5ebdc;
    }
}

#signup {
    color: #d62300;
}

#navbarColor:hover,
#signup:hover {
    background-color: #d62300;
    color: white;
}

#navbarUn {
    height: auto;
    color: #502314;
    background-image: url(assets/images/logo.png);
    background-size: cover;
}

#search {
    margin-left: 95%;
}

#navbar {
    padding: 1rem;
}


/* .cat {
    width: 100%;
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
} */